.about-section {
    min-height: 100vh;
}

.content-about{
    height: 100vh;
}

.about-info {
    margin-bottom: 0;
    font-size: 5rem;
    background-color: #091f36;
    color: white;
    width: fit-content;
    margin-left: 4rem;
    margin-top: 10rem;
    padding: 2rem;
}