.contact-section {
    background-color: #091f36;
    
    min-height: 100vh;
    vertical-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info {
    color: white;
    text-align: center;
}

.contact-title {
    margin-bottom: 0;
    font-size: 5rem;
}

.contact-button {
    position: relative;
    display: inline-block;
    background-color: #091f36;
    border: 2px solid #00FFFF;
    color: #00FFFF;
    height: 3rem;
    width: 18rem;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.contact-copied {
    position: relative;
    display: inline-block;
    background-color: #091f36;
    border: 2px solid #33FF00;
    color: #33FF00;
    border-radius: 4px;
    font-size: 1rem;
    height: 3rem;
    width: 18rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.contact-button .copy-hint, .contact-copied .copy-hint {
    visibility: hidden;
    width: 200px;
    background-color: #474747;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 4;
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 36%;
    margin-left: -60px; 
}

.contact-button:hover .copy-hint, .contact-copied:hover .copy-hint {
    visibility: visible;
}

.contact-button .copy-hint::after, .contact-copied .copy-hint::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 51%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent   #474747 transparent;
}

.contact-button:focus, .contact-copied:focus {
    outline: none;
}
  
.contact-logo {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    fill: white;
}

.contact-logo:hover {
    fill: #00FFFF;
}
  