.contact-section {
    background-color: #091f36;
    min-height: 90vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info {
    color: white;
    text-align: center;
}

.contact-title {
    margin-bottom: 0;
    font-size: 5rem;
}

.contact-button {
    position: relative;
    display: inline-block;
    background-color: #091f36;
    border: 2px solid #00FFFF;
    color: #00FFFF;
    height: 3rem;
    width: 20rem;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.contact-copied {
    position: relative;
    display: inline-block;
    background-color: #091f36;
    border: 2px solid #33FF00;
    color: #33FF00;
    border-radius: 4px;
    font-size: 18px;
    height: 3rem;
    width:20rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.contact-button .copy-hint, .contact-copied .copy-hint {
    visibility: hidden;
    width: 200px;
    background-color: #474747;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 4;
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 36%;
    margin-left: -60px;
    font-size: 1rem;
}

.contact-button:hover .copy-hint, .contact-copied:hover .copy-hint {
    visibility: visible;
}

.contact-button .copy-hint::after, .contact-copied .copy-hint::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 51%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent   #474747 transparent;
}

.contact-button:focus, .contact-copied:focus {
    outline: none;
}
  
.contact-logo {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    fill: #00FFFF; 
}

.contact-logo:hover {
    fill: #33FF00;
}
  

@media only screen and (max-width: 768px) {
    .contact-section {
        min-height: 80vh;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .contact-info {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .contact-title {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .contact-section {
        min-height: 70vh;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .contact-title {
        font-size: 3rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .contact-info {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 376px) {
    .contact-section {
        min-height:70vh;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .contact-description {
        font-size: 12px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.2rem;
    }

    .contact-title {
        font-size: 2rem;
        line-height: 1rem;
    }

    .contact-logo {
        width: 2rem;
        height: 2rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    .contact-logo-section {
        margin-top: 1.5rem;
    }

    .contact-info {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .contact-button {
        position: relative;
        display: inline-block;
        background-color: #091f36;
        border: 2px solid #00FFFF;
        color: #00FFFF;
        height: 3rem;
        width: 15rem;
        font-size: 14px;
        border-radius: 4px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
}