
.navigation-bar {
    box-shadow: 0 2px 6px 8px rgba(2, 0, 0, 0.2), 1px 1px 2px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    position: fixed;
    z-index: 4;
    min-width: 100%;
    min-height: 6rem;
    justify-content:  space-between;
    background-color: #091f36;
    font-size: 18px;
    color: white;
}

.navigation-bar .home{
    padding-right: 2rem;
    padding-left: 2rem;
    align-self: center;
}

.nav-links {
    align-self: center;
    display: flex;
    margin: auto;
    margin-right: 2rem;
}

.nav-links li {
    list-style-type: none;
}

.nav-link p{
    border: 2px solid #091f36;
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

li :hover p {
    border: 2px solid #00FFFF;
    border-radius: 4px;
    color: #00FFFF;
}

#contact-label {
    border: 2px solid #00FFFF;
    border-radius: 4px;
    color: #00FFFF;
}

li :hover #contact-label {
    border: 2px solid #33FF00;
    border-radius: 4px;
    color: #33FF00;
}

#resume-label {
    color: white;
}

li :hover #resume-label {
    border: 2px solid #00FFFF;
    border-radius: 4px;
    color: #00FFFF;
}