
.App-header {
  margin: 0px;
  background-color: #282c34;
}

.App-body {
  margin: 0px;
  line-height: 1.5;
  background: #091f36;
}

.App-link {
  color: #09d3ac;
}

.App-footer {
  background-color: #061525;
  color: white;
  text-align: center;
  height: 6rem;
  margin: 0;
}

.App-footer small {
  line-height: 6rem;
  font-size: 14px;
}

.App-footer-github {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  fill: white; 
}
